### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [21]:
total_players = df["SN"].nunique()
print(str(total_players) + " total players")

576 total players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
unique_items = df["Item ID"].nunique()
average_price = round(df["Price"].mean(), 2)
total_purchases = df["Purchase ID"].size
total_revenue = df["Price"].sum()

summary_df = pd.DataFrame({"Unique Items" : [unique_items],
                          "Average Price" : ["$" + str(average_price)],
                          "Total Purchases" : [total_purchases],
                          "Total Revenue" : ["$" + str(total_revenue)]})

summary_df.style.hide_index()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [23]:
gender_df = df.drop_duplicates(subset="SN")

male_player_count = gender_df["Gender"].value_counts()["Male"]
male_player_percent = round((male_player_count/total_players)*100, 2)

female_player_count = gender_df["Gender"].value_counts()["Female"]
female_player_percent = round((female_player_count/total_players)*100, 2)

other_player_count = gender_df["Gender"].value_counts()["Other / Non-Disclosed"]
other_player_percent = round(((other_player_count/total_players)*100), 2)

gender_report = pd.DataFrame({"Gender" : ["Male", "Female", "Other / Non-Disclosed"],
                          "Total Count" : [male_player_count, female_player_count, other_player_count],
                          "Percentage of Players" : [str(male_player_percent) + "%", str(female_player_percent) + "%", str(other_player_percent) + "%"]})

gender_report.style.hide_index()


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
male_df = df.loc[df["Gender"] == "Male"]
female_df = df.loc[df["Gender"] == "Female"]
other_df = df.loc[df["Gender"] == "Other / Non-Disclosed"]

mpc = df["Gender"].value_counts()["Male"]
fpc = df["Gender"].value_counts()["Female"]
opc = df["Gender"].value_counts()["Other / Non-Disclosed"]

mapp = male_df["Price"].mean()
fapp = female_df["Price"].mean()
oapp = other_df["Price"].mean()

mtpv = male_df["Price"].sum()
ftpv = female_df["Price"].sum()
otpv = other_df["Price"].sum()

matpp = mtpv / male_player_count
fatpp = ftpv / female_player_count
oatpp = otpv / other_player_count

gender_purchasing_report = pd.DataFrame({"Gender" : ["Male", "Female", "Other / Non-Disclosed"],
                                         "Purchase Count" : [mpc, fpc, opc],
                                         "Average Purchase Price" : [mapp, fapp, oapp],
                                         "Total Purchase Value" : [mtpv, ftpv, otpv],
                                        "Avg Total Purchase per Person by Gender" : [matpp, fatpp, oatpp]})

gender_purchasing_report.style.hide_index().format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Avg Total Purchase per Person by Gender": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [25]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

df["Age Group"] = pd.cut(df["Age"], age_bins, labels=group_names)

age_df = df.groupby("Age Group")

age_count = age_df["SN"].nunique()

age_percent = (age_count / total_players)

age_demo_report = pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_percent})
age_demo_report.style.format({"Percentage of Players": "{:.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
age_purchase_count = age_df["Purchase ID"].count()

age_avg_price = age_df["Price"].mean()

total_purchase_value = age_df["Price"].sum()

age_avg_purchase_per_person = total_purchase_value / age_count

age_demographics = pd.DataFrame({"Purchase Count": age_purchase_count,
                                 "Average Purchase Price": age_avg_price,
                                 "Total Purchase Value": total_purchase_value,
                                 "Average Purchase Total per Person": age_avg_purchase_per_person})

age_demographics.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Average Purchase Total per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [27]:
sn_df = df.groupby("SN")

sn_purchase_count = sn_df["Purchase ID"].count()

sn_avg_purchase_price = sn_df["Price"].mean()

sn_purchase_value = sn_df["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": sn_purchase_count,
                            "Average Purchase Price": sn_avg_purchase_price,
                            "Total Purchase Value": sn_purchase_value})

sorted_df = top_spenders.sort_values(by="Total Purchase Value", ascending=False).iloc[:5]
sorted_df.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Average Purchase Total per Person": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
items = df[["Item ID", "Item Name", "Price"]]

item_df = items.groupby(["Item ID", "Item Name"])

item_purchase_count = item_df["Price"].count()

item_total_value = item_df["Price"].sum()

item_price = item_total_value / item_purchase_count

popular_items = pd.DataFrame({"Purchase Count": item_purchase_count,
                            "Item Price": item_price,
                            "Total Purchase Value": item_total_value})

sorted_items_df = popular_items.sort_values(by="Purchase Count", ascending=False).iloc[:5]
sorted_items_df.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Average Purchase Total per Person": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [34]:
sorted_items_df = popular_items.sort_values(by="Total Purchase Value", ascending=False).iloc[:5]
sorted_items_df.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Average Purchase Total per Person": "${:.2f}"})